.splash__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.splash__wrap {
    border-radius: 15px;

    width: 700px;
    height: 500px;

   /* border: 1px solid red;*/
    overflow: hidden;
    position: relative;
}

.splash__planet {
    border-radius: 50%;
    width: 1200px;
    height: 1200px;
    background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 49%);

    position: absolute;
    top: 150px;
    left: -800px;

    animation: 5s linear moonrise;
}

@keyframes moonrise {
    0% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 16%);
        top: 50px;
        left: -600px;
    }
    3% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 17%);
    }
    6% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 18%);
    }
    9% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 19%);
    }
    12% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 20%);
    }
    15% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 21%);
    }
    18% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 22%);
    }
    21% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 23%);
    }
    24% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 24%);
    }
    27% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 25%);
    }
    30% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 26%);
    }
    33% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 27%);
    }
    36% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 28%);
    }
    39% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 29%);
    }
    42% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 30%);
    }
    45% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 31%);
    }
    48% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 32%);
    }
    51% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 33%);
    }
    54% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 34%);
    }
    57% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 35%);
    }
    60% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 36%);
    }
    63% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 37%);
    }
    66% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 38%);
    }
    69% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 39%);
    }
    72% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 40%);
    }
    75% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 41%);
    }
    78% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 42%);
    }
    81% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 43%);
    }
    84% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 44%);
    }
    87% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 45%);
    }
    90% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 46%);
    }
    93% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 47%);
    }
    96% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 48%);
    }
    99% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 49%);
    }
    100% {
        background-image: radial-gradient(circle at 85% 0%, var(--primary-dark) 0%, var(--primary-dim) 49%);
        top: 110px;
        left: -750px;
    }
}