.comments__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;

    & textarea {
        flex-grow: 1;
        resize: none;
    }
}

.comments__title {
    font-size: 1.1em;
    color: var(--primary-bright);
    text-shadow: var(--glow-bright);
}

.comments__desc {
    margin-bottom: 15px;
}

.comments__buttons {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.comments__disabled {
    font-size: 0.7em;
    color: var(--primary-dark);
    margin-right: 15px;
}