.tabs__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.tabs__row {
    border-bottom: 3px solid var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    & .tabs__btn {
        flex-grow: 1;
        padding: 5px 10px;
        text-align: center;
        margin: 5px;
        cursor: default;

        & + .tabs__btn {
            margin-left: 0px;
        }

        &.tabs__active {
            background-color: var(--primary-select);
            color: var(--primary-select-fg);
            box-shadow: var(--glow-select);
        }
    }
}

.tabs__component {
    flex-grow: 1;
    flex-basis: 100%;
    height: calc(100% - 42px);
}

.tabs__error {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}