.body__wrap {
    padding: 10px;
}

.body__main-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > div:first-child {
        flex-grow: 1;
    }
}

.body__landable {
    font-family: var(--font-text);
    color: var(--accent);
    font-size: 12px;
    text-shadow: var(--glow-accent);
}

.body__title {
    font-size: 20px;
    color: var(--primary-bright);
    text-shadow: var(--glow-bright);
}

.body__type {
    text-shadow: var(--glow);
}

.body__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;
    font-size: 18px;

    & .body__details-col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 38%;
        width: 38%;

        &:first-child {
            flex-basis: 60%;
            width: 60%;
        }
    }

    & .body__details-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        text-shadow: var(--glow);

        & > span:first-child {
            font-weight: 700;
        }

        & > span:last-child {
            font-family: var(--font-text);
            font-size: 0.75em;
        }
    }
}

.body__rings {
    text-shadow: var(--glow);
    
    & .body__rings-title {
        font-weight: 700;
    }

    & .body__rings-ring {
        font-size: 14px;
        & span {
            display: block;

            &:first-child {
                font-weight: 700;
            }

            &:last-child {
                font-family: var(--font-text);
                font-size: 0.83em;
            }
        }

        & + .body__rings-ring {
            margin-top: 10px;
        }
    }
}

.body__materials {
    text-shadow: var(--glow);

    & .body__materials-title {
        font-weight: 700;
    }

    & .body__materials-material {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & span {
            &:first-child {
                font-weight: 700;
            }
            &:last-child {
                font-family: var(--font-text);
                font-size: 0.83em;
            }
        }

        & + .body__materials-material {
            margin-top: 5px;
        }
    }
}

.station__services {
    text-shadow: var(--glow);
    
    & .station__services-title {
        font-weight: 700;
    }

    & .station__services-service {
        font-size: 16px;
    }

}