.error__container {
    height: 0px;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
    border-bottom: 1px solid var(--primary);
    margin-top: -1px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: var(--primary-bright)EE;
    color: var(--primary-dim);

    box-shadow: var(--glow);
    text-shadow: var(--glow-dim);

    & .error__close {
        position: absolute;
        cursor: default;
        right: 20px;
    }

    @nest .main-wrap__has-error &{
        height: 33px;
    }
}