@font-face {
  font-family: 'moonlight-icons';
  src: url('../fonts/moonlight-icons.woff?y09utd') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moonlight-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asteroid-base:before {
  content: "\e908";
}
.icon-planet:before {
  content: "\e906";
}
.icon-star:before {
  content: "\e907";
}
.icon-coriolis:before {
  content: "\e900";
}
.icon-ocellus:before {
  content: "\e901";
}
.icon-orbis:before {
  content: "\e902";
}
.icon-outpost:before {
  content: "\e903";
}
.icon-settlement:before {
  content: "\e904";
}
.icon-surface-port:before {
  content: "\e905";
}
.icon-sphere:before {
  content: "\e9c9";
}
