@import "theme.css";
@import "font-awesome.css";
@import "icons.css";
@import "SystemLog.css";
@import "PlayerInfo.css";
@import "ScrollArea.css";
@import "TopBar.css";
@import "Settings.css";
@import "System.css";
@import "Body.css";
@import "ErrorBar.css";
@import "credits/Credits.css";
@import "splash/Splash.css";
@import "tabs/Tabs.css";
@import "comments/Comments.css";

@custom-media --small-width (max-width: 1300px);
@custom-media --large-width (min-width: 1301px);


body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg);
    color: var(--primary);
    font-family: var(--font-primary);
}

body {
    background: repeating-linear-gradient(to bottom, #040406,#040406 6px, #050711 8px, #050711 12px, #040406 14px);
    & div#root {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
}

* {
    box-sizing: border-box;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--primary);

    &.main-wrap__maximized {
        border: none;
    }
}

.main-wrap__container {
    position: relative;
    height: calc(100% - 42px);
    width: 100%;
    flex: 1 1 auto;
    margin: 0px;
    padding: 0px;

    transition: height 0.2s ease-in-out;

    @nest .main-wrap__has-error &{
        height: calc(100% - 72px);
    }
}

.main-wrap__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: filter 0.2s ease-in-out;

    & .log-container {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 350px;
    }

    & .main-wrap__content--system-wrap {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
    }

    @nest .main-wrap__settings-open &{
        filter: blur(10px);
    }
}

.number {
    font-family: 'Telegrama';
    font-size: 0.8em;
}

.text {
    font-family: 'Sintony';
    font-size: 0.8em;
}


@font-face {
    font-family: Eurocaps;
    src: url(../fonts/eurocaps.ttf);
}

@font-face {
    font-family: Telegrama;
    src: url(../fonts/telegrama_render.ttf);
}

@font-face {
    font-family: Sintony;
    src: url(../fonts/Sintony-Regular.ttf);
}

@font-face {
    font-family: Sintony Bold;
    src: url(../fonts/Sintony-Bold.ttf);
}


button {
    border: none;
    background-color: var(--button-bg);
    padding: 7px 40px;
    color: var(--primary-select);
    font-family: var(--font-primary);
    font-size: 18px;

    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;

    &:hover {
        background-color: var(--primary-select);
        color: var(--primary-select-fg);
    }

    & + button {
        margin-left: 5px;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        color: var(--primary-dim);

        &:hover {
            background-color: var(--button-bg);
            color: var(--primary-dim);
        }
    }
}

select {
    font-family: var(--font-text);
    background-color: black;
    color: var(--primary);
    border-color: var(--primary-bright);
    min-width: 100px;
    text-align: center;
    text-align-last: center;
    padding: 5px 10px;
    box-shadow: var(--glow-bright);

    &:focus {
        outline: none;
    }

    & option {
        text-align: center;
        text-align-last: center;
        padding: 10px 10px;
        &:focus {
            outline: none;
        }
    }
}

input, textarea {
    border: none;
    background-color: var(--primary-dim);
    padding: 5px 10px;
    color: var(--primary);
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 700;

    &:focus {
        outline: none;
    }
}

textarea {
    width: 100%;
    min-height: 150px;
}

label.checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        border: 1px solid var(--primary);
        top: -1px;
        right: 0;
    }

}

input[type=checkbox].checkbox {
    display: none;
}

input[type=checkbox].checkbox:checked + label.checkbox:after {
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    position: absolute;
    right: 3px;
    top: 2px;    
}
