.player-info__container {
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    color: var(--primary-bright);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-shadow: var(--glow-bright);
    position: relative;
    -webkit-app-region: drag;
}

.player-info__label {
    font-weight: 700;
}

.player-info__fuel {
    & > span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.player-info__fuel-bg {
    margin-left: 10px;
    margin-right: 8px;
    height: 15px;
    width: 120px;
    background-color: var(--primary-dark)50;
    display: block;
}

.player-info__fuel-bar {
    background-color: var(--primary-bright);
    height: 100%;
    box-shadow: var(--glow-bright);
    transition: width 0.2s ease-out,
                background-color 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;
    display: block;

    @nest .player-info__tab:hover &{
        background-color: var(--primary);
        box-shadow: var(--glow);
    }
}

.player-info__active {
    position: relative;
    
    & > span::after {
        position: absolute;
        display: block;
        height: 4px;
        left: -5px;
        right: -5px;
        background-color: var(--primary);
        box-shadow: var(--glow);
        content: '';
        bottom: -10px;
    }
}

.player-info__tab {
    cursor: default;
    -webkit-app-region: no-drag;
    transition: color 0.2s ease-in-out,
                text-shadow 0.2s ease-in-out;
    &:hover {
        color: var(--primary);
        text-shadow: var(--glow);
    }
}