.scroll-track-ver {
    width: 10px !important;
    background-color:var(--list-even);
    height: calc(100% - 20px);
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 50;
}

.scroll-btn-ver {
    background-color: var(--primary-dim);
    z-index: 60;
}