.settings__background {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.settings__window {
    position: absolute;
    width: 500px;
    height: 500px;

    border: 1px solid var(--primary-bright);
    top: calc(50% - 250px);
    left: calc(50% - 250px);

    box-shadow: var(--glow-bright);
    overflow: hidden;

    background: black;
}

.settings__form-wrap {
    height: 430px;
    position: relative;

    & .settings__version {
        position: absolute;
        right: 5px;
        bottom: -65px;
        font-family: var(--font-text);
        font-size: 11px;
    }
}

.settings__form {
    display: flex;
    margin: 40px 80px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & .settings__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: var(--font-text);

        & + .settings__item {
            margin-top: 20px;
        }
    }

    & .settings__label {
        color: var(--primary-bright);
        font-weight: 700;
        text-shadow: var(--glow-bright);
        font-family: var(--font-primary);
    }
}

.settings__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}