.system__wrap {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @media (--large-width) {
        flex-direction: row;
    }
}

.system__body-list--container {
    padding: 10px 2px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 50%;
    flex-grow: 1;

    @media (--large-width) {
        width: 600px;
        flex-basis: 600px;
        flex-grow: 0;
        border-right: 1px solid var(--primary);
        height: 100%
    }
}

.system__body-info--container {
    height: 50%;
    border-top: 1px solid var(--primary);
    flex-grow: 1;

    @media (--large-width) {
        height: 100%;
        border-top: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        & .body__wrap {
            height: 50%;
        }
    }

    & .system__body-info--comments {
        height: 50%;
        width: 100%;
        border-top: 1px solid var(--primary);
    }
}

.system__title {
    color: var(--primary-bright);
    text-shadow: var(--glow-bright);
    font-size: 20px;
    display: block;
}

.system__empty {
    text-shadow: var(--glow);
}

.system__body-list--wrap {
    width: 100%;
    height: 100%;
    position: relative;

    & .scroll-track-ver {
        height: 100%;
        top: 0px;
    }
}

.system__body-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
    height: auto;
}

.system__body {
    padding: 10px 15px;
    width: 100%;
    text-shadow: var(--glow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default;

    transition: color 0.2s ease-in-out,
                background-color 0.2s ease-in-out,
                text-shadow 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;

    &:nth-child(even) {
        background-color: var(--list-even);
        &:hover {
            background-color: var(--list-even-hover);
        }
    }

    &:nth-child(odd) {
        background-color: var(--list-odd);
        &:hover {
            background-color: var(--list-odd-hover);
        }
    }

    & + .system__body {
        margin-top: 5px;
    }

    & .system__body-title {
        & > span {
            font-size: 14px;
            margin-left: 8px;
            color: var(--accent);
            text-shadow: var(--glow-accent);
        }

    }

    &.system__body-offset-1 {
        padding-left: 30px;
    }
    &.system__body-offset-2 {
        padding-left: 45px;
    }
    &.system__body-offset-3 {
        padding-left: 60px;
    }
    &.system__body-offset-4 {
        padding-left: 75px;
    }
    &.system__body-offset-5 {
        padding-left: 90px;
    }
    &.system__body-offset-6 {
        padding-left: 105px;
    }

    &.system__body-selected {
        background-color: var(--primary-select);
        color: var(--primary-select-fg);
        text-shadow: none;
        box-shadow: var(--glow-select);

        & .log-item__title {
            color: var(--primary-select-fg);
            text-shadow: none;
        }

        &:hover {
            background-color: var(--primary-select);
        }    
    }
}

.system__body-icon {
    margin-right: 15px;

    &[class^="icon-"] {
        /* Make the icons larger, without affecting the line height*/
        font-size: 1.5em;
        margin-top: -11px;
        display: inline-block;
    }
}