.log-container {
    width: 350px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: 1px solid var(--primary);
}

.log-wrap {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 10px;
}

.log-item {
    padding: 10px;
    margin: 0px 10px 10px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: color 0.2s ease-in-out,
                background-color 0.2s ease-in-out,
                text-shadow 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;

    &:first-child {
        margin-top: 10px;
    }

    &:nth-child(even) {
        background-color: var(--list-even);
        &:hover {
            background-color: var(--list-even-hover);
        }
    }

    &:nth-child(odd) {
        background-color: var(--list-odd);
        &:hover {
            background-color: var(--list-odd-hover);
        }
    }

    & .log-item__info-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        text-shadow: var(--glow);

        & > span {
            display: block;
        }
    }

    & .log-item__title-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        text-shadow: var(--glow);

        & .log-item__title {
            & i:first-child {
                margin-right: 5px;
                font-size: 0.8em;
            }
            color: var(--primary-bright);
            font-size: 18px;
            text-shadow: var(--glow-bright);
            transition: color 0.2s ease-in-out,
                        text-shadow 0.2s ease-in-out;
        }
    }

    &.log-item__selected {
        background-color: var(--primary-select);
        color: var(--primary-select-fg);
        text-shadow: none;
        box-shadow: var(--glow-select);

        & .log-item__title {
            color: var(--primary-select-fg);
            text-shadow: none;
        }

        &:hover {
            background-color: var(--primary-select);
        }
    }
}

.log__empty {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}