:root {
    --dark-bg: #020307;
    --primary-bright: #B3E0FF;
    --primary: #97C0FF;
    --primary-dark: #5876BF;
    --primary-dim: #28395D;

    --accent-bright: #FFFFF0;
    --accent: #F8D8BE;
    --accent-dark: #A8846B;
    --accent-dim: #5A4742;

    --primary-select: #6BAFFF;
    --primary-select-fg: #101A27;

    --button-bg: #1E2C41;

    --list-even: var(--primary-dark)20;
    --list-odd: var(--primary-dark)12;

    --list-even-hover: var(--primary-dark)28;
    --list-odd-hover: var(--primary-dark)1A;

    --font-primary: "Eurocaps";
    --font-numbers: "Telegrama";
    --font-text: "Sintony";
    --font-text-bold: "Sintony Bold";

    --glow-bright: 0px 0px 6px var(--primary-bright);
    --glow: 0px 0px 6px var(--primary);
    --glow-dark: 0px 0px 6px var(--primary-dark);
    --glow-dim: 0px 0px 6px var(--primary-dim);
    --glow-select-fg: 0px 0px 6px var(--primary-select-fg);
    --glow-select: 0px 0px 6px var(--primary-select);

    --glow-accent: 0px 0px 6px var(--accent);
}