.top-bar {
    border-bottom: 1px solid var(--primary);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 42px;
}

.top-bar__settings, .top-bar__close {
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-shadow: var(--glow);
    cursor: default;
    flex: 0 0 42px;

    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--primary-bright);
        text-shadow: var(--glow-bright);
    }
}

.top-bar__close {
    border-left: 1px solid var(--primary);
}

.top-bar__settings {
    border-right: 1px solid var(--primary);
}