.credits__container {
    width: 100%;
    height: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .credits__sizer {
        min-width: 900px;
        width: 75%;

        height: 80%;
        min-height: 650px;

        & canvas {
            width: 100%;
            height: 100%;
        }
    }
}